body {
    background-color: #221F73;
    background: linear-gradient(to left, #221F73, #4943f9);
}

.jumbotron { 

    background-color:white;
    padding:30px;
}

.jumbotron img{
    float:right;
    max-height:30px;
}

#subtitle {
    color: #F58026;
    font-size:1.5em;
    font-weight:600;
}

form { 
    border-radius:20px;
    border-style: solid;
    border-color: #F58026;
    border-width: 5px;
    padding: 30px;
    background-color: lightgray;
}

input{
    padding:5px;
    margin-left:10px;
    background-color:white;
}

#pic img {
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #F58026;
    width:100%;
    height:auto;
    overflow:hidden;
}

textarea{
    background-color:darkgray;
    color:darkblue;
    width:90%;
}
